- if authenticated?
  .row
    .col-lg-12
      %h1.page-header Dashboard
    / /.col-lg-12
  / /.row
  .row
    .col-lg-3.col-md-6
      .panel.panel-primary
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-comments.fa-5x
            .col-xs-9.text-right
              .huge= @counters[:new]
              %div New Releases
        %a{:href => "#"}
          .panel-footer
            %span.pull-left View Details
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-3.col-md-6
      .panel.panel-green
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-tasks.fa-5x
            .col-xs-9.text-right
              .huge= @counters[:deploying]
              %div Deploying
        %a{:href => "#"}
          .panel-footer
            %span.pull-left View Details
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-3.col-md-6
      .panel.panel-yellow
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-shopping-cart.fa-5x
            .col-xs-9.text-right
              .huge= @counters[:deployed]
              %div Deployed
        %a{:href => "#"}
          .panel-footer
            %span.pull-left View Details
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-3.col-md-6
      .panel.panel-red
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-support.fa-5x
            .col-xs-9.text-right
              .huge= @counters[:rollback]
              %div Rolled back
        %a{:href => "#"}
          .panel-footer
            %span.pull-left View Details
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
  / /.row
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %i.fa.fa-bars.fa-fw
          Release Request Status
        / /.panel-heading
        .panel-body
          .row
            - @lastest_releases.in_groups_of(5).each do |group|
              .col-sm-3
                - group.each do |release|
                  - if release
                    .form-group
                      .btn-group
                        %label.btn{:class => "btn-#{release.status_colour}"}
                          %span= release.id
                        %label.btn.btn-default.active
                          = release.jira_number

        / /.panel-body
    / /.col-lg-8
  / /.row
- else
  = render "shared/flash_messages"
