.row
  .col-lg-12
    %h1.page-header Make a Release Request

= render "shared/flash_messages"

%form#new_release.form-horizontal{"accept-charset" => "UTF-8", :action => "/releases", :method => "post", "data-toggle" => "validator"}
  %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/

  .form-group
    %label.col-sm-4.control-label{:for => "jira_number"} JIRA Number
    .col-sm-2
      %input.form-control{:placeholder => "JIRA Number", :name => "release[jira_number]", :type => "text", :required => "", :value => @release.jira_number}/
      .help-block.with-errors

  .form-group
    %label.col-sm-4.control-label{:for => "environment"} Environment
    .col-sm-2
      %select.form-control{:name => "release[environment]", :required => ""}
        - @environments.each do |environment|
          %option{:value => environment.id, :selected => @release.environment_id == environment.id ? "selected" : nil}= environment.name
      .help-block.with-errors

  .form-group
    %label.col-sm-4.control-label{:for => "qa"} QA
    .col-sm-2
      %select.form-control{:name => "release[qa]", :required => ""}
        - APP_CONFIG["QAs"].each do |qa|
          %option{:value => qa, :selected => @release.qa == qa ? "selected" : nil}= qa
      .help-block.with-errors

  .form-group
    %label.col-sm-4.control-label{:for => "description"} Description
    .col-sm-2
      %textarea.form-control{:rows => "5", :name => "release[description]", :required => ""}= @release.description || "Describe the release in plain english"
      .help-block.with-errors

  .form-group.form-header-underline
    %h4.col-sm-4.form-header.control-label
      Application(s)
      %a.plus-link{:href => "#"}
        %i.fa.fa-plus-circle.fa-lg
    .col-sm-2.small-header
      The order of the apps submitted would be the order for OPS to deploy.

  .github-info-container.form-header-underline
    #app-area.row
      - if !@release.projects.empty?
        - @release.projects.each do |project|
          = render "shared/project_form", project: project
      - else
        = render "shared/project_form", project: nil

  .form-group
    .col-sm-offset-2.col-sm-1
      %button.btn.btn-success{:type => "submit"} Submit

:javascript
  Ladda.bind('#sync');
  // plus form
  $('.plus-link').click(function(e){
    $('#app-area').append('#{j render 'shared/project_form', project: nil}');
  });
